<div>
    
<div class="card">
    <p-tabView styleClass="tabview-custom">
        
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-user"></i>
                <span>profile</span>
            </ng-template>
            <div>

            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-cog pi-fw"></i>
                <span>Change Password</span>
            </ng-template>
            <div>
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSumbmitChangePasswordForm()">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="field p-fluid">
                                <label htmlfor="sms_campaign">Old Password</label><br>
                                <p-password pInputPassword formControlName="oldPassword" [feedback]="false" [toggleMask]="true"></p-password>
                                <div>
                                    <label class="text-danger" *ngIf="this.changePasswordForm.get('oldPassword').hasError('required') && this.changePasswordForm.get('oldPassword').touched">
                                        Old Password is required
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="field p-fluid">
                                <label htmlfor="sms_campaign">New  Password</label><br>
                                <p-password  class="w-100"  formControlName="newPassword" [feedback]="true" [toggleMask]="true"></p-password>
                                <div>
                                    <label class="text-danger" *ngIf="this.changePasswordForm.get('newPassword').hasError('required') && this.changePasswordForm.get('newPassword').touched">
                                        New Password is required
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="field p-fluid">
                                <label htmlfor="sms_campaign">Confirm Password</label><br>
                                <p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true"></p-password>    
                                <div>
                                    <label class="text-danger" *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
                                        New Password is required
                                    </label>
                                    <label class="text-danger" *ngIf="changePasswordForm.hasError('confirmPassword', ['confirmPassword'])">Passwords must match.</label>
                                </div>
                            </div>
                        </div>
                        <button pButton label="Change" type="submit"></button>
                    </div>
                </form>
            </div>
        </p-tabPanel>
        
    </p-tabView>
</div>
</div>