<div >
    
    <div class="card">
        <p-table #dt1
        
        [lazy]="true"
        (onLazyLoad)="GetAll($event)"
        [value]="clients" [tableStyle]="{'min-width': '60rem'}"
        [paginator]="true"
        [rows]="itemsPerPage"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        [loading]="loding"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
        paginatorLocale="fa-IR"
        >
            <ng-template pTemplate="caption">
                <!-- <form  class="flex" style="justify-content: flex-end;">
                   
                    <div class="flex">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  (input)="dt1.filterGlobal(getVal($event), 'contains')"
                              placeholder="Search keyword" />
                          </span>
                    </div>

                </form> -->
                <div  class="row" style="justify-content: space-between;">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <h3 >Add User</h3>
                            <!-- <p-button class="mx-2 rounded" (click)="onCreate()"  icon="pi pi-plus"></p-button> -->
                            <button class="btn btn-danger mx-5" (click)="onCreate()" style="border-radius: 50%;"><i class="pi pi-plus"></i></button>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="flex " style="justify-content: end;">
                            <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"  (input)="dt1.filterGlobal(getVal($event), 'contains')"
                                  placeholder="Search keyword" />
                              </span>
                        </div>
                    </div>
                    
        
                </div>
            </ng-template>
            <ng-template pTemplate="header" >
                <tr>
                    <th  >Serial</th>
                    <th  >Client</th>
                    <th  >Email</th>
                    <th  >Company Name</th>
                    <th  >Mobile Number</th>
                    <th  >Balance</th>
                    <th>Status</th>
                    <th >Expiration Date</th>
                    
                    <th>API</th>
                    <th>Action</th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{client.clientName}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.companyName}}</td>
                    <td>{{client.mobileNumber}}</td>
                    <td>{{client.balance}}</td>
                    <td><i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': client?.status, 'text-red-500 pi-times-circle': !client.status }"></i></td>
                    <td>{{client.expirationDate}}</td>
                    <td><i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': client?.apiKey?.status, 'text-red-500 pi-times-circle': !client?.apiKey?.status }"></i></td>
                    <td>
                        <!-- <p-splitButton label="Action" [model]="actionButtonMenueItems"  styleClass="p-button-raised p-button-primary mr-2 mb-2"></p-splitButton> -->
                        <a [routerLink]="['/admin/client/',client.userId]" class="text-cyan-800 "><i class="pi pi-arrow-circle-right text-2xl"></i></a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #noRecords>
            <h1 >No Records Found</h1>
        </ng-template>
        
        
    </div>
    
</div>
<ng-template #loading>
    <h1>Loading......</h1>
</ng-template>
<p-dialog header="Add User" [position]="'top'" (onHide)="LoadData()" [(visible)]="_service.displayModal" [style]="{width: '50vw'}">
    <!-- <app-add-contact-group></app-add-contact-group> -->
    <app-add-client></app-add-client>
</p-dialog>