<!-- <p-toast></p-toast>
<div class="dashboard">
    <div class="row  gx-3 gy-3">
        <div class=" col-lg-3">
            <div class="card dashboard-starting-cards-height">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="number-lg font-yellow-gold">0</span>
                    <span><i class="pi pi-comment"></i></span>
                </div>
                <span class="uppercase bold font-gray">SMS Last Week</span>
            </div>
        </div>
        <div class=" col-lg-3">
            <div class="card dashboard-starting-cards-height">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="number-lg font-yellow-gold">0</span>
                    <span><i class="pi pi-wallet"></i></span>
                </div>
                <span class="uppercase bold font-gray">Cost Last Week</span>
            </div>
        </div>
        <div class=" col-lg-3">
            <div class="card dashboard-starting-cards-height">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="number-lg font-green-jungle">0</span>
                    <span><i class="pi pi-send"></i></span>
                </div>
                <span class="uppercase bold font-gray">SMS in November</span>
            </div>
        </div>
        <div class=" col-lg-3">
            <div class="card dashboard-starting-cards-height">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="number-lg font-green-jungle">0</span>
                    <span><i class="pi pi-money-bill"></i></span>
                </div>
                <span class="uppercase bold font-gray">Cost in November</span>
            </div>
        </div>
        
    </div>
    <div class="row my-5 gx-3 gy-3" style="align-items: stretch !important;">
        <div class="col-lg-9">
            <div class="card h-100">
                <span class="caption-subject bold font-dark">Progress <span class="caption-helper">Last 6 Months</span></span> 
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-3">
                <h3 class="caption-subject bold font-dark mt-2 right-side-card-lh" >Balance</h3>
                <hr>
                <span >Total: BDT 
                    <span class="fw-bold" *ngIf="availableBalance$ |async as availableBalance; else loadingBalance">{{availableBalance.value | number:'1.2-2'}}</span>
                    <ng-template #loadingBalance>
                        <span >Loading ...</span>
                    </ng-template>
                    
                </span>
            </div>
            <div class="card mb-3">
                <h3 class="caption-subject bold font-dark mt-2 right-side-card-lh" >SMS Quantity</h3>
                <hr>
                <span>Non Masking:66</span>
            </div>
            
            <div class="card  pb-3">
                <h3 class="caption-subject bold font-dark mt-2 right-side-card-lh" >LAST 5 TRANSACTIONS</h3>
                <hr>
                <span>Wed, 01st Nov 2023,BDT 10</span>
                <hr>
                <span>Wed, 01st Nov 2023,BDT 10</span>
                <hr>
                <span>Wed, 01st Nov 2023,BDT 10</span>
            </div>
        </div>
    </div>
</div> -->