.dashboard i {
    color: #cbd4e0;
    font-size: 26px;
}
.dashboard .number-lg {
    margin: 0 0 2px;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}
.dashboard-starting-cards-height{
    height: 120px;
}
.right-side-card-lh{
    line-height: 0.1rem;
}
hr{
    color: black !important;
}
// .row-reverse-in-mobile{
//     display: grid;
//     //grid-template-columns: co-reverse !important;
// }
// @media(max-width:750px)
// {
//     .row-reverse-in-mobile{
//         grid-template-columns: column-reverse !important;
//     }
// }
