<p-table #dt1 [value]="list"
        [lazy]="true" (onLazyLoad)="GetAll($event)"
        dataKey="id" [tableStyle]="{'min-width': '75rem'}"
        [paginator]="true" 
        [rows]="4"
        [totalRecords]="totalRecords"
        [loading]="loading" 
        [globalFilterFields]="['name']"
        [rowsPerPageOptions]="[4,8,12]"
        >
      <ng-template pTemplate="caption">
        <div  class="row" style="justify-content: space-between;">
            <div class="col-lg-6">
                <div class="d-flex">
                    <h3 >Add Group</h3>
                    <!-- <p-button class="mx-2 rounded" (click)="onCreate()"  icon="pi pi-plus"></p-button> -->
                    <button class="btn btn-danger mx-5" (click)="onCreate()" style="border-radius: 50%;"><i class="pi pi-plus"></i></button>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="flex " style="justify-content: end;">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  (input)="dt1.filterGlobal(getVal($event), 'contains')"
                          placeholder="Search keyword" />
                      </span>
                </div>
            </div>
            

        </div>
    </ng-template>
    <ng-template pTemplate="header">

        
        <tr>
            <th class="text-center" style="width: 4rem">Id</th>
            <th class="text-center" pSortableColumn="name">Group <p-sortIcon field="name"></p-sortIcon></th>
            <th class="text-center" >Contacts </th>
            <th class="text-center" >Actions </th>
            <th></th>
        </tr>
        
    </ng-template>
    <ng-template pTemplate="body" let-group>
        <tr>
            <td class="text-center">{{group.id}}</td>
            <td class="text-center">{{group.name}}</td>
            <td class="text-center">{{group.totalContacts}}</td>
            <td>
                <div style="display:block; width:fit-content; margin:auto;">
                    <div class="display:flex;">
                    <button (click)="onEdit(group)" class="btn btn-primary rounded mx-1"><i class="pi pi-pencil"></i></button>
                    <button (click)="onDelete(group.id)" class="btn btn-danger rounded mx-1"><i class="pi pi-trash"></i></button>
                    <button class="btn btn-primary rounded mx-1"><i class="pi pi-download"></i></button>
                    </div>
                </div>
            </td>
            <td>
                <a [routerLink]="['/phonebook/group/',group.name,group.id]" class="text-pink-500 "><i class="pi pi-arrow-circle-right text-2xl"></i></a>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Header" [position]="'top'" (onHide)="LoadData()" [(visible)]="_service.displayModal" [style]="{width: '50vw'}">
    <app-add-contact-group></app-add-contact-group>
</p-dialog>