<p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-calendar"></i>
                <span>Via CSV</span>
            </ng-template>
            <div>
                <div>
                    <div>
                        <button class="import-upload-btn text-center  py-2 my-5"><i class="pi pi-download fw-bold "></i>Example Template</button>
                    </div>
                    <form [formGroup]="_service.uploadExcelForm">
                        <label for="file-input" class="import-upload-btn text-center py-2 my-5 text-white bg-success">
                            <input formControlName="file" type="file" id="file-input" style="visibility: hidden; width: 0px;" (change)="onFileSelected($event,_service.uploadExcelForm,'file')">
                            <span *ngIf="!_service.uploadExcelForm.value?.file"><i class="pi pi-file-import fw-bold"></i>Upload Excel File</span>
                            <span *ngIf="_service.uploadExcelForm?.value?.file">{{_service.uploadExcelForm?.value?.file?.name}}</span>
                        </label>
                    </form>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-file-excel"></i>
                <span>Via Excel File</span>
            </ng-template>
            <div>
                <div>
                    <div>
                        <button class="import-upload-btn text-center  py-2 my-5"><i class="pi pi-download fw-bold "></i>Example Template</button>
                    </div>
                    <form [formGroup]="_service.uploadExcelForm">
                        <label for="file-input" class="import-upload-btn text-center py-2 my-5 text-white bg-success">
                            <input formControlName="file" type="file" id="file-input" style="visibility: hidden; width: 0px;" (change)="onFileSelected($event,_service.uploadExcelForm,'file')">
                            <span *ngIf="!_service.uploadExcelForm.value?.file"><i class="pi pi-file-import fw-bold"></i>Upload Excel File</span>
                            <span *ngIf="_service.uploadExcelForm?.value?.file">{{_service.uploadExcelForm?.value?.file?.name}}</span>
                        </label>
                    </form>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-send"></i>
                <span>Via Form</span>
                
            </ng-template>
            <form [formGroup]="_service.importform" (ngSubmit)="onImportFormSubmit()">
                <div class="p-fluid" bis_skin_checked="1">
                    <div class="field" bis_skin_checked="1">
                        <label htmlfor="mobile_numbers">Enter Mobile Numbers </label>
                        <textarea appNumericOnly [allowNewLine]="true" [prepend88ToNewLines]="true" id="mobile_numbers" rows="2" (input)="countTotalNumber()" cols="30" formControlName="numbers" placeholder="Your Message" pInputTextarea></textarea>
                        <div class="d-flex justify-content-between">
                            <span style="font-size: small;"> New Line separeted</span>
                            <span *ngIf="!_service.importform.get('numbers').hasError('appNumberValidator') && _service.importform.get('numbers').dirty" style="font-size: small;">Total <span class="text-info">{{importFormTotalNubers}}</span> numbers</span>
                        </div>
                        <div class="text-danger" *ngIf="_service.importform.get('numbers').hasError('appNumberValidator')">
                            Invalid number format. Only digits are allowed.
                        </div>
                    </div>
                    <div>
                        <button [disabled]="inProgress"  class="btn btn-success">{{inProgress?'Please Wait':'Import'}}</button>
                    </div>
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>