<!-- <div class="containerClass">
    
    <div class="grid-container" style="width: 100%; padding: 30px;">
        <div class="card" style="margin-bottom: 30px;">
            <div class=" p-fluid" bis_skin_checked="1">
                <div class="field" bis_skin_checked="1">
                    <label htmlfor="name1">Select Sender Id</label>
                    <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
                    </p-autoComplete>
                    <span> <a [routerLink]="'/messaging/senderid'">Request New Sender Id</a> </span>
                </div>
                <div class="field" bis_skin_checked="1">
                    <label htmlfor="filedata">Select File (xls, xlsx, ods, txt, csv)</label>
                    <br>
                    <label class="custom-file-upload">
                        <input type="file"/>
                        Choose File <i class="pi pi-file-import
                        "></i>
                    </label>
                    <br>
                    <span class="link-text-orange"><a>File Data Instruction</a></span>
                </div>
                
                
                <div class="field" bis_skin_checked="1">
                    <label htmlfor="mobile_numbers">Enter Mobile Numbers </label>
                    <textarea id="mobile_numbers" rows="2" cols="30" placeholder="Your Message" pInputTextarea></textarea>
                    <span> New Line separeted</span>
                </div>
                <div class="field" bis_skin_checked="1">
                    <label htmlfor="mobile_numbers">Select SMS Type</label>
                    <textarea id="mobile_numbers" rows="2" cols="30" placeholder="Your Message" pInputTextarea></textarea>
                    <span> New Line separeted</span>
                </div>
                
                <div class="field" bis_skin_checked="1">
                    <label htmlfor="sms_contents">Enter SMS Content </label>
                    <textarea id="sms_contents" rows="2" cols="30" placeholder="Your Message" pInputTextarea></textarea>
                    <div style="display: flex; justify-content: space-between;">
                        <p>Check Your SMS COUNT <span class="link-text-orange">Use Template</span></p>
                        <p>19 Characters | 2276 Characters Left| 1 SMS (160 Char./SMS)</p>
                    </div>
                    
                </div>
                <div class="field" bis_skin_checked="1">
                    <label htmlfor="mobile_numbers">Schedule Message</label>
                    <div class="grid formgrid">
                        <div class="col-12 flex-gap">
                            <div class="field-radiobutton">
                                <p-radioButton name="sendNow" value="sendnow" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                                <label for="city1">Send Now</label>

                            </div>
                            <div class="field-radiobutton">
                                <p-radioButton name="sendlater" value="sendlater" [(ngModel)]="valRadio" id="city2"></p-radioButton>
                                <label for="city2">Send Later</label>
                            </div>
                            
                            
                        </div>
                        
                        
                    </div>
                    <div class="field send-later-calender-div" bis_skin_checked="1">
                        <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                    </div>
                    
                </div>
                <div style="width: fit-content">
                    <p-button label="Process SMS"></p-button>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <p>Available Balance</p>
                <hr>
                <p>BDT 10</p>
                <hr>
                <p>Price Per SMS</p>
            </div>
            <div class="card shallow-red-bg-card">
                <p>UNSUB</p>
                <p>UAE Users please ensure that you put "UNSUB 3811 or OPTOUT 3811" at end of each SMS. As per TRA optout option is mandatory. We will not be responsible for any non delivery arising because of this.</p> 
            </div>
            <div class="card shallow-red-bg-card">
                <p>SMS Content</p>
                <p>* 160 Characters are counted as 1 SMS in case of English language & 70 in other language.
                    * One simple text message containing extended GSM character set is of 70 characters long. Check your SMS count before pushing SMS.</p> 
            </div>
        </div>
    </div>
</div> -->
<h3 class="text-center text-info">This Feature is coming soon</h3>
