<!-- <div>
    <div class="card">
        
        <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        paginatorLocale="fa-IR"
        
        >
            <ng-template pTemplate="caption">
                <div class="flex" style="justify-content: space-between;">
                    <div class="flex" style="align-items: center;">
                        <div>
                            <p>Show</p>
                        </div>
                        <div>
                            <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
                        </div>
                        <p>Entries</p>

                    </div>
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  placeholder="Search keyword" />
                        </span>
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="width:20%">#ID <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="name" style="width:20%">Sender ID <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="category" style="width:20%">Requested On <p-sortIcon field="category"></p-sortIcon></th>
                    <th pSortableColumn="quantity" style="width:20%">Exicuted On <p-sortIcon field="quantity"></p-sortIcon></th>
                    <th pSortableColumn="price" style="width:20%">Status <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="price" style="width:20%">Actions <p-sortIcon field="price"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price | currency: 'USD'}}</td>
                    <td><p-splitButton label="Actions"  [model]="items" styleClass="p-button-gray"></p-splitButton></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
</div> -->
<h3 class="text-center text-info">This Feature is coming soon</h3>