<div>
    <form [formGroup]="_service.form" (ngSubmit)="onSubmit()" class="p-fluid">
        <div class="field">
            <label htmlfor="sms_campaign">Group Name</label>
            <input pInputText formControlName="name"  />
            <input type="hidden" formControlName="id" >
        </div>
        <div class="flex justify-content-end">
            <span class="mr-2">
                <button (click)="onCancel()" pButton pRipple label="Cancel" class="p-button-danger"></button>
            </span>
            <span>
                <button [disabled]="_service.form.invalid" type="submit" pButton pRipple label="{{this.inProgress? 'Please Wait': this._service.form.get('id').value? 'Update':'Add'}}" class="p-button-primary"></button>
            </span>
        </div>
    </form>
    
</div>
